// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap");

.fluid {
  width: 100%;
}

.flex-start-center {
  display: flex;
  justify-content: center;
  align-items: start;
}

/* 可能要讀一下彈性盒子的用法 https://developer.mozilla.org/zh-TW/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */

/*
.q-header {
  background-color: #89a4fc;
} */

/* 如果是要動全部的上方底色，請改quasar.variables.scss /

/* 如果是按鈕或其他的部分，也可以使用Quasar色彩選擇， 在attribute上設定顏色： 請參考Quasar色票  https://quasar.dev/style/color-palette/ */
/* 同一個色系，如果是白底的話，對比可能要再強一點 */

/* 可以安裝Lighthouse 這個Chrome Extension來做檢測對比  */
/* https://chromewebstore.google.com/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk?hl=zh-TW&pli=1 */

p {
  font-size: large;
  white-space: pre-wrap;
}

.q-item {
  font-size: large;
}

.move-to-left {
  position: absolute;
  right: 0.72em;
}

.p-text {
  background-color: #fcffed;
  line-height: 1.6em;
  padding: 0.5em;
  margin-block-end: 0;
  max-width: 100vw;
}

#c-page {
  padding: 0;
  background: linear-gradient(to bottom, #fff2c0, #ffd9d9);
}
