// app global css in SCSS form

@media screen and (min-width: 769px) {
  .phone-only {
    display: none !important; /* hide on desktop */
  }
  .p-text {
    border-radius: 10px;
    padding: 3em 6em !important;
    box-shadow: 5px 5px 5px rgb(187, 187, 187);
  }
  .flex-rwd {
    flex-direction: row;
  }
}
